.meal {
   display: flex;
   justify-content: space-between;
   margin: 1rem;
   padding-bottom: 1rem;
   border-bottom: 1px solid #ccc;
}

.meal h3 {
   margin: 0 0 0.25rem 0;
}

.meal p {
   margin: 0;
}

.description {
   font-style: italic;
}

.price {
   margin-top: 0.25rem;
   font-weight: bold;
   color: #ad5502;
   font-size: 1.25rem;
}
.form {
   text-align: right;
}

.form button {
   font: inherit;
   cursor: pointer;
   background-color: #8a2b06;
   border: 1px solid #8a2b06;
   color: white;
   padding: 0.25rem 2rem;
   border-radius: 20px;
   font-weight: bold;
}

.form button:hover,
.form button:active {
   background-color: #641e03;
   border-color: #641e03;
}
.input {
   display: flex;
   align-items: center;
   margin-bottom: 0.5rem;
}

.input label {
   font-weight: bold;
   margin-right: 1rem;
}

.input input {
   width: 3rem;
   border-radius: 5px;
   border: 1px solid #ccc;
   font: inherit;
   padding-left: 0.5rem;
}
