.button {
   background-color: #b94517;
   padding: 0.25rem 1rem;
   border: none;
   border-radius: 25px;
   font-weight: bold;
   color: #fff;
   transition: background-color 300ms ease;
   cursor: pointer;
   display: block;
}
.button:hover,
.button:focus {
   background-color: #92320c;
}
